body{
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* end global rules */
:root{
    --dark-s:#19283f;
    --green-s:#33d1cc;
    --yellow-s:#ffc400;
    --red-s:#ff3150;
    --section-s:#eff7fa;
}
.c-section{
    color: var(--section-s);
}
.main-btn{
    background-color: var(--red-s);
    color: var(--yellow-s);
    padding: 0.5rem 1rem ;
    transition: 0.5s ;
    transition-timing-function: ease-in-out;
}

.main-btn:hover{
    background-color: var(--section-s);
    color: var(--green-s);
}

/* start nav */
.navbar{
    background-color: var(--dark-s);
}

.navbar .nav-item .nav-link{
    color: azure;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus{
    color: var(--green-s);
}

.search{
    color: var(--green-s);
    border-left: 2px solid var(--green-s);
}

.navbar .navbar-toggler {
    color: azure;
    border: 1px solid white;
    font-size: 20px;
}

.navbar .navbar-toggler:focus{
    box-shadow: none;
}

/* end Nav */
/* Start Landing */
.landing{
    background-color: var(--dark-s);
    min-height: calc(100vh - 56px);
}
/* End Landing */

/* start features */
.fa-bluesky{
    color: var(--green-s);
}

.icon-holder{
    height: 200px;
}

.icon-holder i {
    left: 50%;
    transform: translateX(-50%);
}

.icon-holder .num {
    font-size: 12rem;
    color: var(--section-s);
}

.icon-holder .pen{
    font-size: 3rem;
    color: var(--green-s);
}

.Feat h4{
    color: var(--yellow-s);
}
/* end features */

/* Start our */
.our{
    background-color: var(--section-s);
}
.our ul li{
    cursor: pointer;
}
.our ul li:not(.active):hover{
    color: var(--red-s);
}
/* End our */
/* Start Team */
.team{
    background-color: var(--section-s);
}
.team h2{
    color: var(--yellow-s);
}
.team h4{
    background-color: var(--yellow-s);
}
/* End Team */
/* start tech */
.tech .bg-section{
    background-color: var(--dark-s);
}
/* end tech */
/* start subscribe */
.subscribe{
    background-color: var(--yellow-s);
}
/* end subscribe */